DISCORD_BOT_TOKEN=PASTE_YOUR_DISCORD_BOT_TOKEN_HERE
ENGLISH_CHANNEL_ID=PASTE_ENGLISH_CHANNEL_ID_HERE
SPANISH_CHANNEL_ID=PASTE_SPANISH_CHANNEL_ID_HERE
PORTUGUESE_CHANNEL_ID=PASTE_PORTUGUESE_CHANNEL_ID_HERE
